@import url("fonts.css");
@import url("reset.css");

body {
	font-family: 'Epilogue', sans-serif;
	font-size: 18px;
	
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	
}
.main {
	max-width: 1400px;
	margin-inline: auto;
}
.header, .footer {
	padding-block: 20px;
	background-color: #309676f6;
	text-align: center;
	font-size: 40px;
}
.main__conteiner {
	padding-block: 50px;
	background-color: #4c7568f6;
}
.main__items {
	display: inline-block;
	font-size: 0;
	max-width: 1370px;
	width: 100%;
}
.main__item {
	width: 20%;
	min-height: 268px;
	display: inline-block;
	padding: 15px 30px;
}
.main__block {
	width: 100%;
	min-height: 208px;
	background-color: rgb(241, 255, 159);
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	perspective: 300px;
	perspective-origin: center;
	padding: 8px;
}
.main__content {
	width: 100%;
	min-height: 208px;
	background: url("../img/smile.jpg");
	border-radius: 5px;
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.main__transform {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	min-height: 60px;
	vertical-align: bottom;
}
.main__block--style {
	transform-style: preserve-3d;
}
.main__item:nth-child(1):hover .main__content {
	transform: translate(20%, 20%);
}
.main__item:nth-child(2):hover .main__content {
	transform: translateY(60px);
}
.main__item:nth-child(3):hover .main__content {
	transform: scale(0.9);
}
.main__item:nth-child(4):hover .main__content {
	transform: scale(140%, 80%);
}
.main__item:nth-child(5):hover .main__content {
	transform: rotate(45deg);
}
.main__item:nth-child(6):hover .main__content {
	transform: skew(-10deg, 0deg);
}
.main__item:nth-child(7):hover .main__content {
	transform: translate(10%, 10%) scale(0.9) rotate(15deg) skew(10deg, 10deg);
}
.main__item:nth-child(8):hover .main__content {
	transform-origin: 0 0;
	transform: rotate(20deg);
}
.main__item:nth-child(9):hover .main__content {
	transform-origin: 200px 0;
	transform: rotate(-20deg);
}
.main__item:nth-child(10):hover .main__content {
	transform: rotateX(50deg);
}
.main__item:nth-child(11):hover .main__content {
	transform: translate3d(20px, 20px, 10px);
}
.main__item:nth-child(12):hover .main__content {
	transform: scale3d(0.9, 0.9, 1);
}
.main__item:nth-child(13):hover .main__content {
	transform: rotate3d(1, 1, 1, 10deg);
}
.main__item:nth-child(14):hover .main__content {
	transform: translate3d(20px, 20px, 20px) scale3d(1.2, 1.3, 1);
}
.main__item:nth-child(15):hover .main__content {
	transform: rotateY(180deg);
	transition: all 0.3s ease 0s;
}
.main__item:nth-child(16):hover .main__content {
	transform: rotateY(360deg);
	transition: all 1s ease 0s;
}
.main__item:nth-child(17):hover .main__content {
	transform: rotateX(90deg);
	transition: all 0.3s ease 0s;
}
.main__item:nth-child(18):hover .main__content {
	transform: rotateY(90deg);
	transition: all 0.3s ease 0s;
}
.grn {
	position: relative;
	perspective: 1000px;
	transform: scale(0.7);
	inset: 0px -30px 0px -30px;
}
.grn__avers, .grn__revers {
	transition: all 1s;
	border-radius: 50%;
	width: 315px;
	overflow: hidden;
}
.grn__revers {
	position: absolute;
	inset: 0;
	transform: rotateX(180deg);
	backface-visibility: hidden;
}
.grn__avers {
	transform: rotateX(0deg);
	backface-visibility: visible;
}
.grn:hover .grn__revers {
	transform: rotateX(0deg);
}
.grn:hover .grn__avers {
	transform: rotateX(180deg);
}
.main__item:nth-child(20) .main__content {
	background: url("../img/picup.jpg");
}
.button:hover {
	color: red;
}
